{% extends '::base.html.twig' %}

{% block header %}
{{ parent() }}
<div class="user-summary"></div>
{% endblock %}

{% block body %}

{# Backbone View Templates #}
{% include "WordRotPlayBundle:Play:backbone/view_templates.html.twig" %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var ServerRoutes = {
	playRootUrl: "{{ path('play') }}"
};
</script>
{{ parent() }}
<script type="text/javascript">
$(function(){
	app.run({
		user_id : {{ app.user.id }},
		active_game_id : {{ activeGame ? activeGame.getId : 'null' }}
	});
});
</script>
{% endblock %}